/* ----- GLOBAL STYLING --------------------------- */
* {
  box-sizing: border-box;
  
}
body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(251, 246, 240);
}

/* ------- FOUNDATIONAL STYLING ----------------------------------- */

h1 {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 2.3em;
  margin: 0.2em 0;
}

.banner {
  padding: 0 1em;
  overflow: auto;
}

h2 {
  padding: 5px;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

/* ------- NAV STYLING ------------------------------------------  */
nav {
  overflow: auto;
  width: 100%;
}

nav ul {
  list-style-type: none;
}

nav li {
  padding-bottom: 1em;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 0.25em;
}

nav a {
  display: inline-block;
  text-align: center;
  color: black;
  text-decoration: none;
}

.hire-me-btn:hover,
.mail:hover {
  color: rgb(108, 72, 72);
}

.hire-me-btn:active,
.mail:hover {
  color: rgb(255, 140, 74);
}

.banner {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0 1em;
}

.banner ul {
  padding: 0;
}

/* ------ HOME STYLING ----------------------------------------- */
#home {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2em;
}

.home-info {
  margin: 0;
  padding: 2.5em;
}

.profile-pic {
  display: block;
  margin: 0 auto;
  width: 75%;
  border-radius: 50%;
  padding: 10px 0;
}

/* ------PORTFOLIO STYLING -------------------------------> */

#portfolio {
  background-color: rgba(220, 183, 159, 0.4);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.slideshow {
width: 100%;
}

.mySlides {
  padding: 1em .1em;
  background-color: rgba(138, 100, 68, 0.5);
  border-radius: 1em;
  width: 100%;
} 


.slides-fig img {
  display: block;
  border-radius: 2%;
  width: 100%;
  height: 100%;
}

.slides-figcap {
  margin: 1em 0;
  padding: .5em 1em;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 232, 217, 0.7);
  border-radius: 2%;
}

/* ----ABOUT ME STYLING -----------------------------------> */

#about-me {
  width: 100%;
}

.about-me-text {
  padding: .5em;
  font-size: 1em;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1em;
  gap: 4em;
  overflow: hidden;
}

.about-me-img {
  display: block;
  width: 100%;
}

.about-me-fig {
  width: 300px;
}

.about-me-figcap {
  text-align: center;
  padding: 1em;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

/* ----CONTACT STYLING -----------------------------------------> */
#contact {
  margin-top: 3em;
}

.contact-text {
  text-align: center;
  padding: 20px;
}

.mail {
  display: block;
  text-align: center;
  color: rgba(105, 55, 8, 0.889);
  font-weight: bold;
}

.cta {
  color: rgb(125, 58, 9);
  font-weight: 900;
  text-decoration: underline dotted;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

.socials a {
  transform: scale(1.5);
}

.mobile {
  padding: 1em;
}


/* -----FOOTER STYLING ----------------------------------------> */
#footer {
  margin-top: 10px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
  justify-content: space-between;
  padding: 5% 2%;
}

h3 {
  display: block;
  font-weight: bold;
}

.top {
  color: black;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0;
  padding: 1em;
}

.top:hover {
  color: rgb(181, 106, 39);
}

.top:active {
  color: rgb(255, 140, 74);
}

.mn-tag {
  text-align: center;
  padding: 5px;
  margin: 0 auto;
  letter-spacing: 0.05em;
}

/* ------ BUTTON STYLING --------------------------------> */
button {
  display: block;
  width: 100%;
  text-align: center;
  border: none;
  cursor: pointer;
}
.hire-me-btn {
  background-color: rgb(97, 49, 49);
  font-size: 16px;
  border-radius: 20px;
  width: 110px;
  padding: 12px 2px;
  margin: 0 auto;
  font-weight: 550;
  letter-spacing: 0.05em;
}

.hire-me-btn:hover {
  background-color: rgb(181, 106, 39);
}

.hire-me-btn:active {
  background-color: rgb(255, 140, 74);
}

.left-btn,
.right-btn {
  padding: 1em;
  border-radius: 0.5em;
  background-color: rgba(112, 76, 47, 0.7);
  width: fit-content;
}

.left-btn:hover,
.right-btn:hover {
  background-color: rgba(181, 106, 39, .6);
}

.left-btn:active,
.right-btn:active {
 background-color: rgba(255, 140, 74, .6)
}

.left-btn {
  margin-right: 1em;
}

.right-btn {
  margin-left: 1em;
}

/* MEDIA QUERIES -----------------------------> */

@media only screen and (min-width: 765px) {

  header {
    margin: 0 auto;
  }

  .banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
  }

  h1 {
    text-align: center;
    font-size: 2.5em;
    width: 100%;
    margin: 0 auto;
    display: block;
    font-size: 4em;
  }

  h2 {
    margin: auto;
  }

  nav {
    display: block;
    width: 100%;
    margin: 1em;
    text-align: center;
    margin-top: 0.5em;
  }

  nav li {
    font-size: 1em;
    padding: 0.5em;
    display: inline-block;
  }

  .home p {
    text-align: left;
    padding-right: 15em;
    padding-left: 1em;
    font-size: 30px;
    padding: 2em;
  }

  .profile-pic {
    float: right;
    width: 30%;
    height: auto;
    margin-right: 1em;
  }

  #portfolio {
    margin-top: 0;
  }

  .portfolio-wrapper div {
    display: inline-block;
    width: 30%;
    padding: 1.4%;
  }

  .slideshow {
    display: flex;
    flex-direction: column;
    max-width: 700px;
  }

  #about-me h2 {
    font-size: 2em;
  }

  .about-me-text {
    font-size: 1.2em;
  }

  .img-container {
    flex-direction: row;
    gap: 1em;
  }

  .about-me-fig {
    max-width: 200px;
    padding: 2px;
    max-width: 200px;
  }

  .about-me-fig img {
    max-width: 200px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font-size: 1em;
  }

  h3 {
    width: 100%;
    text-align: left;
  }

  .top {
    width: 100%;
    display: inline-block;
    text-align: right;
  }
}

@media only screen and (min-width: 1024px) {

  .banner {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    white-space: nowrap;
    overflow: visible;
    margin: 0 auto;
  }

  h1 {
    width: 100%;
    text-align: left;
    margin-right: 1em;
  }

  nav ul {
    margin: 0 auto;
  }

  nav {
    width: 100%;
    text-align: right;
    overflow: visible;
  }

  .profile-pic {
    padding: 1em;
  }

  .img-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 1px;
  }

  .about-me-fig {
    display: inline-block;
    max-width: 200px;
  }

  .footer-container,
  .mn-tag {
    font-size: 1.2em;
  }
}
