body {
    background-color: lightskyblue;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: left;
}

.card {
    background-color: hsla(0, 0%, 100%, 0.7);
    padding: 2em;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 2em;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

button {
    margin: .5em;
    border-radius: 50%;
    border: none;
    height: 45px;
    width: 45px;
    outline: black;
    cursor: pointer;
    background-color: rgb(249, 249, 249);
    transition: 0.2s ease-in-out;
    padding: 5px;
}
button:hover, .search-input:hover {
    background-color: rgb(254, 254, 220);
}

button:active {
    background-color: rgb(213, 213, 211);
}

.search-input {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 3em;
    background: rgb(249, 249, 244);
    font-family: inherit;
    font-size: 120%;
}

.temp {
    margin: 0;
    padding: 1em;
    font-size: 2em;
}

.city {
    letter-spacing: .1em;
    font-size: 1.8em;
}

h3 {
    font-size: 1em;
    letter-spacing: .1em;
}

.weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2em;
}

.extra {
    text-align: right;
    padding: .2em;
    margin-top: -1.7em;
    font-size: .95em;
}

div {
    padding-top: .2em
}

.reminder {
    background-color: #fafaf9;
    padding: 1em;
    margin-top: 2em;
    text-align: center;
    border-radius: .5em;
}

.main {
    display: flex;
    justify-content: baseline;
}

.icon {
    width: 100px;
    display: block;
}